ul{
    list-style-type: none;
}

li{
    padding: 2px;
    border-bottom: 1px solid darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 450px;
    height: fit-content;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.list{

    width: 450px;
    height: 400px;
    border: 2px solid black;
    padding: 20px;
}

.delete{
    float: right;
    right: 0;
    top: 0;
    border: none;
    text-align: center;
    text-decoration: none;
    background: white;
}
.delete:hover{
    background: lightcoral;
}

.doneButton{
    float: left;
    background: white;
}


p{
    font-family: Arial, Helvetica, sans-serif;
}